body {
    font-family: Arial;
    background: #f2f2f2;
}

.calculator {
    width: 250px;
    background: white;
    padding: 10px;
    margin: 50px auto;
    border: 1px solid #ccc;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #aaa;
    background: #e6e6e6;
}

.equal {
    grid-column: span 2;
    background: #ff9999;
}
